

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}


@import "tailwindcss";

@theme {

  --color-primary: #1E3A5F;
  --color-secondary: #ffffff;
  --color-light-gray: color-mix(in oklab, var(--color-primary) 10%, transparent);
  --color-dark-gray:#2C2C2C;
  --color-buttons: #D4A056;
  --color-buttons-hover:#B88440;
  --color-link-hover: #187C8F;
  --color-text-hover: #187C8F;

  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
}


html {
  @apply scroll-smooth;
}

@layer components{
  .main-container{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .rectangle-container{
    height: 260px;
    align-items: center;
  }
  .content-container{
    margin-inline: auto;
    padding: 5px;

  }
  
  .text-hover:hover {
    color: var(--color-underLine);
    transition: all;
    transition-duration: 200ms;
  }
  @media (width >= 48rem) {
    .content-container{
      width: 90%;
    }
  }
  @media (width >= 64rem) {
    .content-container{
      width: 80%;
    }
  }
}

@layer base {
  h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: var(--text-2xl);
  }
  p{
    text-align: center;
    align-items: center;
    font-size: var(--text-md);
  }
  ul{
    font-size: var(--text-base);
    text-transform: uppercase;

  }
  h2{
    color: var(--color-primary);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: var(--text-sm);
  }
  
  @media (width >= 48rem) {
    h1{
      font-size: var(--text-3xl);
    } 
    h2{
      font-size: var(--text-xl);
    }
    p{
      font-size: var(--text-lg);
    }
    ul{
      font-size: var(--text-md);
      font-weight: 500;
      
    }
  }

  @media (width >= 64rem) {
    h1{
      font-size: var(--text-4xl);
    }
    h2{
      font-size: var(--text-2xl);
    }
    p{
      font-size: var(--text-xl);
    }
  }
  
  @keyframes slowBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  
  .slow-bounce {
    animation: slowBounce 3s infinite ease-in-out;
  }
}